<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="@Url.Content("~/Content/css/custom.min.css")" />
  <link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />

  <script src="@Url.Content("~/Content/plugins/jquery/jquery.min.js")"></script>
  <script src="@Url.Content("~/Content/plugins/bootstrap/bootstrap.min.js")"></script>

  <title>We-Code Template</title>

</head>
<body>

  <!-- Fixed navbar -->
  <header>
    @Html.Partial("_Menu")
  </header>

  <!-- Body -->
  @RenderBody()

  <script type="text/javascript" src="~/angular/libs/runtime.js"></script>
  <script type="text/javascript" src="~/angular/libs/polyfills.js"></script>
  <script type="text/javascript" src="~/angular/libs/styles.js"></script>
  <script type="text/javascript" src="~/angular/libs/vendor.js"></script>
  <script type="text/javascript" src="~/angular/libs/main.js"></script>

</body>
</html>
